@font-face {
   font-family: 'Trajan Pro Bold';
   font-display: swap;
   src: url('Trajan Pro Bold/font.ttf');
}
@font-face {
   font-family: 'MinionPro-Medium';
   font-display: swap;
   src: url('MinionPro-Medium/font.ttf');
}
