@font-face {
   font-family: 'MinionPro-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Arie%20J/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-04_181944/fonts/MinionPro-Medium/font.ttf');
}
